@using CadastroLivros.Core.Utilities
@model CadastroLivros.Web.Models.Livros.LivrosControllerViewModel

@{
    ViewData["Title"] = "Cadastrar livros";
    string actionName = Model.CodL is null ? "Inserir" : "Alterar";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Livros</h1>
</div>

<section class="my-3 container">
    <form method="post" asp-action="@actionName">

        @if (Model.CodL.HasValue)
        {
            <input type="hidden" asp-for="CodL"/>
        }

        <div class="mb-3">
            <label class="form-label" asp-for="Titulo"></label>
            <input class="form-control" asp-for="Titulo"/>
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Editora"></label>
            <input class="form-control" asp-for="Editora"/>
            <span asp-validation-for="Editora" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Edicao"></label>
            <input class="form-control" asp-for="Edicao"/>
            <span asp-validation-for="Edicao" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="AnoPublicacao"></label>
            <input class="form-control" asp-for="AnoPublicacao"/>
            <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Autores"></label>
            <input class="form-control" asp-for="Autores"/>
            <div class="form-text">Insira os nomes dos autores separando-os por vírgula</div>
            <span asp-validation-for="Autores" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Assuntos"></label>
            <input class="form-control" asp-for="Assuntos"/>
            <div class="form-text">Insira os assuntos separando-os por vírgula</div>
            <span asp-validation-for="Assuntos" class="text-danger"></span>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Forma de compra</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.FormasCompra.Count; i++)
                    {
                        <tr>
                            <td>@Model.FormasCompra[i].FormaCompra.GetDisplayName()</td>
                            <td>
                                <input type="hidden" asp-for="@Model.FormasCompra[i].FormaCompra"/>
                                <div class="input-group">
                                    <span class="input-group-text">R$</span>
                                    <input type="text" asp-for="@Model.FormasCompra[i].Valor" class="form-control"/>
                                </div>
                                <span asp-validation-for="FormasCompra[i].Valor" class="text-danger"></span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        @if (Model.CodL is null)
        {
            <button type="submit" class="btn btn-primary">Inserir</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Salvar</button>
        }

    </form>

    @if (Model.CodL.HasValue)
    {
        <form method="post" asp-action="Excluir">
            <input type="hidden" asp-for="CodL"/>
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    }

</section>

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial"/> *@
@* } *@
